In [53]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
tradebook = pd.read_csv('tradebook.csv')

In [7]:
tradebook.drop('trades_per_day', axis=1, inplace=True)

In [9]:
tradebook

              entry_time            exit_time  entry_price  exit_price    pnl
0    2021-04-01 09:20:00  2021-04-01 09:27:00     14860.00    14850.85  -9.15
1    2021-04-01 09:47:00  2021-04-01 09:48:00     14830.25    14831.95   1.70
2    2021-04-01 09:50:00  2021-04-01 09:57:00     14848.25    14845.20  -3.05
3    2021-04-01 09:59:00  2021-04-01 10:06:00     14847.75    14848.75   1.00
4    2021-04-01 11:06:00  2021-04-01 11:19:00     14789.50    14794.00   4.50
..                   ...                  ...          ...         ...    ...
270  2021-12-01 13:30:00  2021-12-01 13:31:00     17210.70    17165.00 -45.70
271  2021-12-01 13:37:00  2021-12-01 13:42:00     17189.95    17177.00 -12.95
272  2021-12-01 14:01:00  2021-12-01 14:04:00     17165.70    17164.95  -0.75
273  2021-12-01 14:21:00  2021-12-01 14:55:00     17138.85    17220.85  82.00
274  2021-12-01 15:10:00  2021-12-01 15:24:00     17219.80    17225.90   6.10

[275 rows x 5 columns]

In [14]:
tradebook['date'] = pd.to_datetime(tradebook['entry_time']).dt.date

In [16]:
tradebook_grp = tradebook.groupby('date')

In [24]:
data = []
for date, grp in tradebook_grp:
    day_pnl = grp['pnl'].sum()
    data.append({'date': date, 'pnl': day_pnl})
daily_pnl = pd.DataFrame(data)

In [26]:
capital = 200000

In [29]:
daily_returns_df = daily_pnl.copy()
daily_returns_df["pnl_pct"] = (daily_returns_df["pnl"]*15 / capital) * 100

In [30]:
daily_returns_df

          date     pnl   pnl_pct
0   2021-04-01   51.20  0.384000
1   2021-04-05  -20.80 -0.156000
2   2021-04-06    3.20  0.024000
3   2021-05-03   29.20  0.219000
4   2021-05-04  -63.10 -0.473250
5   2021-07-01  -30.90 -0.231750
6   2021-07-06   22.65  0.169875
7   2021-08-02   21.95  0.164625
8   2021-08-03  129.00  0.967500
9   2021-08-04  -39.75 -0.298125
10  2021-12-01  -93.60 -0.702000
11  2021-12-02   63.60  0.477000

In [33]:
daily_returns_df.pnl = daily_returns_df.pnl*15

In [34]:
daily_returns_df

          date      pnl   pnl_pct
0   2021-04-01   768.00  0.384000
1   2021-04-05  -312.00 -0.156000
2   2021-04-06    48.00  0.024000
3   2021-05-03   438.00  0.219000
4   2021-05-04  -946.50 -0.473250
5   2021-07-01  -463.50 -0.231750
6   2021-07-06   339.75  0.169875
7   2021-08-02   329.25  0.164625
8   2021-08-03  1935.00  0.967500
9   2021-08-04  -596.25 -0.298125
10  2021-12-01 -1404.00 -0.702000
11  2021-12-02   954.00  0.477000

In [36]:
import matplotlib

matplotlib.use('Agg')
import matplotlib.pyplot as plt
import seaborn as sns
import calendar
import os
import matplotlib.ticker as mtick

In [46]:
def plot_monthly_heatmap(figsize=None):
    df = daily_returns_df.copy()
    df["month"] = df["date"].dt.month
    df["year"] = df["date"].dt.year
    monthly_returns = df.groupby(['year', 'month'])['pnl_pct'].sum().reset_index()
    monthly_returns['month_name'] = monthly_returns['month'].apply(lambda x: calendar.month_abbr[x])
    month_order = [calendar.month_abbr[i] for i in range(1, 13)]
    monthly_returns['month_name'] = pd.Categorical(monthly_returns['month_name'], categories=month_order,
                                                   ordered=True)
    monthly_returns.sort_values(['year', 'month_name'], inplace=True)
    monthly_returns_pivot = monthly_returns.pivot(index='year', columns='month_name', values='pnl_pct')
    monthly_returns_pivot.columns = map(lambda x: str(x).upper(), monthly_returns_pivot.columns)
    monthly_returns_pivot.columns.name = None
    fig_height = len(monthly_returns_pivot) / 3
    if figsize is None:
        size = list(plt.gcf().get_size_inches())
        figsize = (size[0], size[1])
    figsize = (figsize[0], max([fig_height, figsize[1]]))
    fig, ax = plt.subplots(figsize=figsize)
    ax.spines['top'].set_visible(False)
    ax.spines['right'].set_visible(False)
    ax.spines['bottom'].set_visible(False)
    ax.spines['left'].set_visible(False)

    fig.set_facecolor('white')
    ax.set_facecolor('white')
    ax.set_title('      Monthly Returns (%)\n', fontsize=14, y=.995,
                 fontname="Arial", fontweight='bold', color='black')
    ax = sns.heatmap(monthly_returns_pivot, ax=ax, annot=True, center=0,
                     annot_kws={"size": 10},
                     fmt="0.2f", linewidths=0.5,
                     square=True, cbar=False, cmap="RdYlGn",
                     cbar_kws={'format': '%.0f%%'})
    ax.set_ylabel('Years', fontname="Arial",
                  fontweight='bold', fontsize=12)
    ax.yaxis.set_label_coords(-.1, .5)
    ax.tick_params(colors="#808080")
    plt.xticks(rotation=0, fontsize=10 * 1.2)
    plt.yticks(rotation=0, fontsize=10 * 1.2)
    try:
        plt.subplots_adjust(hspace=0, bottom=0, top=1)
    except Exception:
        pass
    try:
        fig.tight_layout(w_pad=0, h_pad=0)
    except Exception:
        pass
    plt.savefig("monthly_returns.png")
    plt.close(fig)
print('hello')

hello

In [47]:
daily_returns_df['date'] = pd.to_datetime(daily_returns_df.date)

In [48]:
plot_monthly_heatmap()

In [59]:
def plot_drawdown_curve():
#         daily_returns_df = daily_returns.copy()
        daily_returns_df.reset_index(inplace=True)
        daily_returns_df["pnl_pct_cumulative"] = daily_returns_df["pnl_pct"].cumsum()
        daily_returns_df.at[0, "pnl"] = capital + daily_returns_df.at[0, "pnl"]
        cumulative_pnl = np.cumsum(daily_returns_df['pnl'])
        max_cumulative_pnl = np.maximum.accumulate(cumulative_pnl)
        daily_returns_df["drawdown"] = ((cumulative_pnl / max_cumulative_pnl) - 1) * 100
        daily_returns_df.set_index("date", inplace=True)
        plt.figure(figsize=(15, 10))
        plt.fill_between(daily_returns_df.index, daily_returns_df["drawdown"], color='red', alpha=0.5)
        fmt = '%.0f%%'
        yticks = mtick.FormatStrFormatter(fmt)
        plt.gca().yaxis.set_major_formatter(yticks)

        max_drawdown = daily_returns_df['drawdown'].min()

        yticks_values = [max_drawdown, 0]
        yticks_labels = [f"{round(max_drawdown, 2)}%", "0"]

        max_dd = abs(int(max_drawdown))
        start_dd_intrvl = max_dd // 2
        if start_dd_intrvl != 0:
            max_dd_ticks = [-1 * i for i in range(start_dd_intrvl, max_dd, start_dd_intrvl)]
            mad_dd_ticklabels = [f"-{round(x, 2)}%" for x in max_dd_ticks]
            yticks_values.extend(max_dd_ticks)
            yticks_labels.extend(mad_dd_ticklabels)
        x_freq = get_x_freq(daily_returns_df)
        date_ticks = pd.date_range(daily_returns_df.index.min(), daily_returns_df.index.max(), freq=x_freq)
        date_labels = date_ticks.strftime('%d %b-%y')
        if x_freq == "M":
            date_labels = date_ticks.strftime('%b-%y')
        if x_freq == "Y":
            date_labels = date_ticks.strftime('%Y')

        plt.yticks(yticks_values, yticks_labels)
        plt.xticks(date_ticks, date_labels)
        plt.axhline(max_drawdown, color='red', linestyle='--', label='Max Drawdown')
        plt.axhline(0, color='black', linestyle='--', alpha=0.5)
        plt.xticks(rotation=25, fontsize=15)
        plt.yticks(fontsize=15)

        plt.legend(loc='lower left', bbox_to_anchor=(0, 0.1), fontsize=15)
        plt.xlabel("Date", fontsize=15)
        plt.ylabel("Drawdown(%)", fontsize=15)
        plt.title("Drawdown", fontsize=15)
        plt.grid(True, alpha=0.2)
        plt.savefig("dd_curve.png")
        plt.close()

In [60]:
def get_x_freq(df: pd.DataFrame) -> str:
    """Returns frequency of date based on df"""
    n = len(df)
    if n > 800:
        freq = "Y"
    elif n > 250:
        freq = '3M'
    elif n > 150:
        freq = 'M'
    elif 100 <= n < 150:
        freq = '20D'
    elif 50 <= n < 100:
        freq = '10D'
    elif 25 <= n < 50:
        freq = '5D'
    elif 10 <= n < 25:
        freq = '2D'
    else:
        freq = 'D'
    return freq

In [61]:
daily_returns_df

                  pnl   pnl_pct  pnl_pct_cumulative  drawdown
date
2021-04-01  400768.00  0.384000            0.384000  0.000000
2021-04-05    -312.00 -0.156000            0.228000 -0.077851
2021-04-06      48.00  0.024000            0.252000 -0.065874
2021-05-03     438.00  0.219000            0.471000  0.000000
2021-05-04    -946.50 -0.473250           -0.002250 -0.236069
2021-07-01    -463.50 -0.231750           -0.234000 -0.351672
2021-07-06     339.75  0.169875           -0.064125 -0.266934
2021-08-02     329.25  0.164625            0.100500 -0.184815
2021-08-03    1935.00  0.967500            1.068000  0.000000
2021-08-04    -596.25 -0.298125            0.769875 -0.148271
2021-12-01   -1404.00 -0.702000            0.067875 -0.497406
2021-12-02     954.00  0.477000            0.544875 -0.260173

In [62]:
plot_drawdown_curve()

In [65]:
daily_returns_df

                  pnl   pnl_pct  pnl_pct_cumulative  drawdown
date
2021-04-01  600768.00  0.384000            0.384000  0.000000
2021-04-05    -312.00 -0.156000            0.228000 -0.051934
2021-04-06      48.00  0.024000            0.252000 -0.043944
2021-05-03     438.00  0.219000            0.471000  0.000000
2021-05-04    -946.50 -0.473250           -0.002250 -0.157503
2021-07-01    -463.50 -0.231750           -0.234000 -0.234632
2021-07-06     339.75  0.169875           -0.064125 -0.178095
2021-08-02     329.25  0.164625            0.100500 -0.123306
2021-08-03    1935.00  0.967500            1.068000  0.000000
2021-08-04    -596.25 -0.298125            0.769875 -0.099022
2021-12-01   -1404.00 -0.702000            0.067875 -0.332192
2021-12-02     954.00  0.477000            0.544875 -0.173756

In [66]:
    def plot_pnl_curve():
#         daily_returns_df = daily_returns.copy()
        # ROC Cummulative
        daily_returns_df["pnl_pct_cumulative"] = daily_returns_df["pnl_pct"].cumsum()

#         daily_returns_df.set_index("date", inplace=True)
        plt.figure(figsize=(15, 10))
        plt.fill_between(daily_returns_df.index, daily_returns_df["pnl_pct_cumulative"], color='green', alpha=0.5)
        plt.fill_between(daily_returns_df.index, 0, daily_returns_df["pnl_pct_cumulative"],
                         where=(daily_returns_df["pnl_pct_cumulative"] < 0), color='red', alpha=0.7)

        fmt = '%.0f%%'
        yticks = mtick.FormatStrFormatter(fmt)
        plt.gca().yaxis.set_major_formatter(yticks)

        max_pnl_pct_cumulative = daily_returns_df['pnl_pct_cumulative'].max()

        # Set y-axis ticks
        yticks_values = [max_pnl_pct_cumulative, 0]
        yticks_labels = [f"{round(max_pnl_pct_cumulative, 2)}%", "0"]

        # add ticks on Y at interval of max_pnl_pct_cumulative/6
        max_pnl = int(max_pnl_pct_cumulative)
        start_pnl_intrvl = max_pnl // 6
        if start_pnl_intrvl != 0:
            pct_cumulative_ticks = [i for i in range(start_pnl_intrvl, max_pnl - start_pnl_intrvl, start_pnl_intrvl)]
            pct_cumulative_ticklabels = [f"{round(x, 2)}%" for x in pct_cumulative_ticks]
            yticks_values.extend(pct_cumulative_ticks)
            yticks_labels.extend(pct_cumulative_ticklabels)

        x_freq = get_x_freq(daily_returns_df)
        date_ticks = pd.date_range(daily_returns_df.index.min(), daily_returns_df.index.max(), freq=x_freq)
        date_labels = date_ticks.strftime('%d %b-%y')
        if x_freq == "M":
            date_labels = date_ticks.strftime('%b-%y')
        if x_freq == "Y":
            date_labels = date_ticks.strftime('%Y')

        plt.yticks(yticks_values, yticks_labels)
        plt.xticks(date_ticks, date_labels)

        plt.axhline(0, color='black', linestyle='--', alpha=0.5)
        plt.axhline(max_pnl_pct_cumulative, color='green', linestyle='--', label='Max PnL(%)')

        plt.xticks(rotation=25, fontsize=15)
        plt.yticks(fontsize=15)

        # plt.legend(loc="center left")
        plt.legend(loc='upper left', bbox_to_anchor=(0, 0.9), fontsize=15)
        plt.xlabel("Date", fontsize=15)
        plt.ylabel("P&L(%)", fontsize=15)
        plt.title("P&L", fontsize=15)
        plt.grid(True, alpha=0.2)
        plt.savefig("pnl_curve.png")
        plt.close()

In [67]:
plot_pnl_curve()

In [8]:
def get_daily_pnl():
    tradebook_df = pd.read_csv(tradebook_path)
    tradebook_df["datetime"] = pd.to_datetime(tradebook_df["datetime"])
    tradebook_df["date"] = tradebook_df["datetime"].dt.date
    tradebook_df["price_with_slippage"] = np.where(
        tradebook_df["side"] == 1,
        tradebook_df["price"] * tradebook_df["side"] * (1 + slippage),
        tradebook_df["price"] * tradebook_df["side"] * (1 - slippage)
    )
    unable_to_trade_days = tradebook_df.iloc[0]["unable_to_trade_days"]
    tradebook_df.drop(["unable_to_trade_days", "is_intraday"], inplace=True, axis=1)
    tradebook_grp = tradebook_df.groupby("date")
    day_points_df = pd.DataFrame(columns=["date", "points", "pnl", "total trade"])
    for date, grp in tradebook_grp:
        pnl = (grp["price_with_slippage"] * grp["traded_quantity"]).sum() * -1
        points = grp["price_with_slippage"].sum() * -1
        total_trades = grp.shape[0]
        day_points_df = pd.concat([day_points_df, pd.DataFrame({"date": [date], "points": [points], "pnl": [pnl],
                                                                "total trade": total_trades})], ignore_index=True)
    day_points_df["date"] = pd.to_datetime(day_points_df["date"])
    day_points_df = day_points_df.dropna()
    return day_points_df

              entry_time            exit_time  entry_price  exit_price    pnl
0    2021-04-01 09:20:00  2021-04-01 09:27:00     14860.00    14850.85  -9.15
1    2021-04-01 09:47:00  2021-04-01 09:48:00     14830.25    14831.95   1.70
2    2021-04-01 09:50:00  2021-04-01 09:57:00     14848.25    14845.20  -3.05
3    2021-04-01 09:59:00  2021-04-01 10:06:00     14847.75    14848.75   1.00
4    2021-04-01 11:06:00  2021-04-01 11:19:00     14789.50    14794.00   4.50
..                   ...                  ...          ...         ...    ...
270  2021-12-01 13:30:00  2021-12-01 13:31:00     17210.70    17165.00 -45.70
271  2021-12-01 13:37:00  2021-12-01 13:42:00     17189.95    17177.00 -12.95
272  2021-12-01 14:01:00  2021-12-01 14:04:00     17165.70    17164.95  -0.75
273  2021-12-01 14:21:00  2021-12-01 14:55:00     17138.85    17220.85  82.00
274  2021-12-01 15:10:00  2021-12-01 15:24:00     17219.80    17225.90   6.10

[275 rows x 5 columns]

In [ ]:
def plot_monthly_heatmap(figsize=None):
    df = daily_returns.copy()
    df["month"] = df["date"].dt.month
    df["year"] = df["date"].dt.year
    monthly_returns = df.groupby(['year', 'month'])['pnl_pct'].sum().reset_index()
    monthly_returns['month_name'] = monthly_returns['month'].apply(lambda x: calendar.month_abbr[x])
    month_order = [calendar.month_abbr[i] for i in range(1, 13)]
    monthly_returns['month_name'] = pd.Categorical(monthly_returns['month_name'], categories=month_order,
                                                   ordered=True)
    monthly_returns.sort_values(['year', 'month_name'], inplace=True)
    monthly_returns_pivot = monthly_returns.pivot(index='year', columns='month_name', values='pnl_pct')
    monthly_returns_pivot.columns = map(lambda x: str(x).upper(), monthly_returns_pivot.columns)
    monthly_returns_pivot.columns.name = None
    fig_height = len(monthly_returns_pivot) / 3
    if figsize is None:
        size = list(plt.gcf().get_size_inches())
        figsize = (size[0], size[1])
    figsize = (figsize[0], max([fig_height, figsize[1]]))
    fig, ax = plt.subplots(figsize=figsize)
    ax.spines['top'].set_visible(False)
    ax.spines['right'].set_visible(False)
    ax.spines['bottom'].set_visible(False)
    ax.spines['left'].set_visible(False)

    fig.set_facecolor('white')
    ax.set_facecolor('white')
    ax.set_title('      Monthly Returns (%)\n', fontsize=14, y=.995,
                 fontname="Arial", fontweight='bold', color='black')
    ax = sns.heatmap(monthly_returns_pivot, ax=ax, annot=True, center=0,
                     annot_kws={"size": 10},
                     fmt="0.2f", linewidths=0.5,
                     square=True, cbar=False, cmap="RdYlGn",
                     cbar_kws={'format': '%.0f%%'})
    ax.set_ylabel('Years', fontname="Arial",
                  fontweight='bold', fontsize=12)
    ax.yaxis.set_label_coords(-.1, .5)
    ax.tick_params(colors="#808080")
    plt.xticks(rotation=0, fontsize=10 * 1.2)
    plt.yticks(rotation=0, fontsize=10 * 1.2)
    try:
        plt.subplots_adjust(hspace=0, bottom=0, top=1)
    except Exception:
        pass
    try:
        fig.tight_layout(w_pad=0, h_pad=0)
    except Exception:
        pass
    plt.savefig(os.path.join(strat_dir, "monthly_returns.png"))
    plt.close(fig)